doctype html
html
  head
    title Administration
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/frontend.css')
    script(src='/js/zepto.min.js')
    script(src='/js/admin.js')
  body
    h1 Administration
    div(class="no-auth message")
      | You're not authenticated, so you can't access this page. Maybe you need to 
      a(href="/auth/login/?next=/door") login
      |  first?

    div.auth.auth-done
      h2 Authenticate with a QRCode as the user #{ user.name }
      p Use your phone to browse the URL provided in this QRCode to login:
      div(style="background: #EFEFEF; padding: 4px; font-size: 12px; margin: 1em 0; word-wrap: break-word;")=qrcode
      div(style="width: 320px; margin: auto;")!=svgdata
    
    hr
    div(class='auth-action')
      a(class='pure-button logout-action no-auth', href='/auth/login/?next=/door') Login       
      a(class='pure-button auth-done', href='/admin') Admin       
      a(class='pure-button login-action auth-done', href='/api/logout') Logout       