doctype html
html
  head
    title Administration
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/frontend.css')
    script(src='/js/zepto.min.js')
    script(src='/js/admin.js')
  body
    h1 Administration
    div(class="no-auth message")
      | You're not authenticated, so you can't admin this app. Maybe you need to 
      a(href="/auth/login/?next=/door") login
      |  first?
    
    div(class="auth auth-done")
      a(class="button-xlarge pure-button", href="/admin/user") Manage Users
      a(class="button-xlarge pure-button", href="/admin/door") Manage Doors

    div.auth-done
      hr
      div(class="auth auth-done")
        div
          select(class="users")
            option Select the user to remove

        a(class="button-xlarge pure-button delete-user", href="/admin/user") Delete user
      hr
      div(class="auth auth-done add-user")
        input(type="input", placeholder="Username", name="username", required="required")
        a(class="button-xlarge pure-button add-user", href="/admin/door") Add new garage user
      hr

    div(class='auth-action')
      a(class='pure-button logout-action no-auth', href='/auth/login/?next=/door') Login       
      a(class='pure-button login-action auth-done', href='/api/logout') Logout       