h1, h2, h3, h4, p {
  margin: 0 0 1em 0;
}

h1 {
  background-color: #0078e7;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.garage-door {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.garage-door-icon {
  width: 115px;
  padding: 0px 15px;
  float: left;
}

.garage-door-info {
  float: left;
  padding: 12px 0 0 0;
}

.garage-door-info h2 {
  margin: 0 0 0 0;
}

.garage-door-info p {
  color: gray;
  font-style: italic;
}

.garage-door-action {
  float: right;
  padding: 12px 15px 0 15px; 
}

.garage-door-action a {
  font-size: 140%;
  border-radius: 4px;
  width: 6em;
  color: white;
}

.auth-action {
  float: right;
  padding: 12px 15px 0 15px; 
}

.auth-action a {
  font-size: 140%;
  border-radius: 4px;
  width: 6em;
  color: white;
}

.close-action {
  background-color: red;  
}

.open-action {
  background-color: limegreen;
}

.toggle-action {
  background-color: #0078e7;
}

.logout-action {
  background: rgb(223, 117, 20);
}

div.auth {
  text-align: center;
  margin-bottom: 1em;
}

div.auth h2 {
  color: #444;
}
form.auth {

  width: 60%;
  min-width: 60%;
  margin: auto;
}

form.auth input {
  width: 100%;
  height: 2em;
  padding: 5px;
  margin-bottom: 1em;
}

hr {
  clear: both;
  border: 1px solid #EEE;
  width: 40%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.no-auth.message {
  background: #EFEFEF;
  padding: 1em;
  margin: 1em 3em;
  text-align: center;
}

.no-auth, .auth-done {
  display: none;
}

.login-action {
  background-color: #0078e7;
}

.admin-action {
  background-color: limegreen;  
}

.pure-button {
  margin-right: 1em;
}

.button-xlarge {
    font-size: 110%;
}

.auth select {
  margin-bottom: 1em;
}