doctype html
html
  head
    title Garage Doors
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/frontend.css')
    script(src='/js/zepto.min.js')
    script(src='/js/door.js')
  body
    h1 Doors
    div(class='doors')

    div(class='auth-action')
      a(class='pure-button logout-action', href='/api/logout') Logout       