doctype html
html
  head
    title Garage Doors
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/frontend.css')
  body
    h1 Doors
    each door in doors
      div(class='garage-door' data-door-id=door.id)
        div(class='garage-door-icon')
          img(src='img/' + door.status.toLowerCase() + '.png')
        div(class='garage-door-info')
          h2=door.name
          p=door.status.toLowerCase()
        div(class='garage-door-action')
          case door.status
            when 'OPEN'
              a(class='pure-button close-action') Close
            when 'CLOSED'
              a(class='pure-button open-action') Open
            default
              a(class='pure-button toggle-action') Toggle
          