doctype html
html
  head
    title Garage-PI
  body
    h1 Garage-PI

    if user
      p
      | Once the database has been populated, you can 
      a(href="/auth") authenticate
      |, for example, with these credentials
      p
       | User: 
       b #{ user.name }
       |, Password: 
       b #{ user.password }
      p Or QRCode:
      div(style="width: 40%; background: #EFEFEF; padding: 4px; word-wrap: break-word;") #{ qrcode }
      p
        img(src=imgdata)
      p 
        | And finally, access 
        a(href="/door") door management
    else
      form(action="/api/setup/seed", method="POST")
        input(type="submit", value="First of all, Populate test data")