doctype html
html
  head
    title Garage-PI
  body
    h1 Garage-PI
    img(src=qrcode)
    form(action="/api/door/1/toggle", method="POST")
      input(type="submit", value="Toggle door")

    form(action="/api/authenticate", method="POST")
      input(type="submit", value="Authenticate")

    form(action="/api/logout", method="POST")
      input(type="submit", value="Authenticate")