doctype html
html
  head
    title Garage-PI
  body
    h1 Garage-PI

    if user
      p
      | The database has been already populated, you can 
      a(href="/auth/login/?next=/door") authenticate
      |, for example, with these credentials:
      p
       | User: 
       b #{ user.name }
       |, Password: 
       b #{ user.password }
    else
      form(action="/api/setup/seed", method="POST")
        input(type="submit", value="First of all, Populate test data")