doctype html
html
  head
    title Garage-PI
  body
    h1 Garage-PI
    img(src=qrcode)

    form(action="/api/auth", method="POST")
      input(type="hidden", name="username", value="dave")
      input(type="input", placeholder="Insert QRCode string here", name="token")
      input(type="submit", value="1. Authenticate (get token)")
    
    form(action="/api/door/1/toggle", method="POST")
      input(type="input", placeholder="Insert token here", name="token")
      input(type="submit", value="2. Toggle door authenticated API call")